html,
body {
  width: 340px;
  min-height: 360px;
  height: auto;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background: rgba(0, 0, 0, 0.15);
}

.ui.container.footer {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}
