{
  "presets": ["@babel/preset-env", ["react-app", { "absoluteRuntime": false }]],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
