.settings-card {
    min-width: 25rem;
    min-height: 5rem;
}

.settings-card__header {
    width: 100%;
}

.right-side {
    text-align: right;
}

.bh-msg__error {
    display: none;
    float: left;
    color: #E53935;
    margin-top: 14px;
}

.bh-msg__success {
    display: none;
    float: left;
    color: #4CAF50;
    margin-top: 14px;
}
