---
---
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import "{{ site.theme }}";

body {
  font-family: 'PT Serif', serif;
  font-size: 1em;
}

.wrapper {
  width: 960px;
}

@media screen and (min-width: 960px) {
  section {
    width: 640px;
    padding-top: 6px;
  }
}

.view.ext-button {
  margin-bottom: 8px;
}

.view.ext-button img {
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 960px) {
  .view.ext-button img {
    width: 100%;
  }
}

a {
  text-decoration: underline;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: none;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
